Repository NVIDIA/cuCollections, pull requests merged in 2022-01, with the labels that each got.

#132 Fix an insert count bug
  include/cuco/detail/static_map_kernels.cuh
  tests/static_map/static_map_test.cu
Labels: bug, static_map, helps: rapids

#133 Move cuCollections to libcudacxx 1.7
  CMakeLists.txt
  cmake/thirdparty/get_libcudacxx.cmake
Labels: CMake

#130 Add `clang-format` CI check and pre-commit hook
  .clang-format
  .pre-commit-config.yaml
  README.md
  benchmarks/hash_table/static_map_bench.cu
  benchmarks/hash_table/static_multimap/retrieve_bench.cu
  benchmarks/hash_table/static_multimap/static_multimap_bench.cu
  benchmarks/reduce_by_key/reduce_by_key.cu
  benchmarks/synchronization.hpp
  ci/checks/style.sh
  include/cuco/detail/error.hpp
  include/cuco/dynamic_map.cuh
  include/cuco/static_map.cuh
  include/cuco/static_multimap.cuh
  tests/dynamic_map/dynamic_map_test.cu
Labels: feature request

#135 Match all possible pascal archs in CMake
  examples/CMakeLists.txt
  tests/CMakeLists.txt
Labels: bug, CMake

#136 Auto formatting via `pre-commit.ci`
  .pre-commit-config.yaml
  README.md
Labels: improvement, CI

#138 Get rid of `std::move` when using `cuco::make_pair`
  include/cuco/detail/pair.cuh
  include/cuco/detail/static_map.inl
  include/cuco/detail/static_multimap/device_view_impl.inl
Labels: helps: rapids, improvement
