Repository NVIDIA/cuCollections, pull requests merged in 2022-06, with the labels that each got.

#169 Improve `static_map::retrieve_all`
  include/cuco/detail/static_map.inl
Labels: type: bug, topic: static_map, helps: rapids, Needs Review

#165 Add view ctors that don't take erased sentinel parameter
  include/cuco/static_map.cuh
Labels: type: enhancement, topic: static_map, helps: rapids, Needs Review

#171 Enable compiler warnings
  benchmarks/CMakeLists.txt
  benchmarks/hash_table/dynamic_map_bench.cu
  benchmarks/hash_table/static_map_bench.cu
  examples/CMakeLists.txt
  include/cuco/detail/dynamic_map.inl
  include/cuco/detail/static_map.inl
  tests/CMakeLists.txt
  tests/static_map/duplicate_keys_test.cu
  tests/static_map/erase_test.cu
  tests/static_map/stream_test.cu
  tests/static_multimap/custom_type_test.cu
  tests/static_multimap/multiplicity_test.cu
  tests/static_multimap/non_match_test.cu
  tests/static_multimap/pair_function_test.cu
Labels: type: enhancement, helps: rapids, topic: build

#174 Make device `contains` take a template key parameter
  ci/gpu/build.sh
  include/cuco/detail/hash_functions.cuh
  include/cuco/detail/probe_sequence_impl.cuh
  include/cuco/detail/static_map.inl
  include/cuco/detail/static_multimap/device_view_impl.inl
  include/cuco/detail/static_multimap/static_multimap.inl
  include/cuco/static_map.cuh
  include/cuco/static_multimap.cuh
  tests/CMakeLists.txt
  tests/dynamic_map/unique_sequence_test.cu
  tests/static_map/custom_type_test.cu
  tests/static_map/duplicate_keys_test.cu
  tests/static_map/heterogeneous_lookup_test.cu
  tests/static_map/stream_test.cu
  tests/static_map/unique_sequence_test.cu
  tests/static_multimap/custom_type_test.cu
  tests/static_multimap/heterogeneous_lookup_test.cu
  tests/static_multimap/multiplicity_test.cu
Labels: type: enhancement, topic: static_map, helps: rapids, topic: CI, topic: static_multimap

#180 Update issue template labels
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/submit-question.md
Labels: type: enhancement

#182 Add vscode .devcontainer directory to .gitignore.
  .gitignore
Labels: type: enhancement
