Repository NVIDIA/cuCollections, pull requests merged in 2023-12, with the labels that each got.

#400 Expose `window_extent` to device ref
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_map_ref.cuh
  include/cuco/static_set_ref.cuh
  tests/static_map/capacity_test.cu
  tests/static_set/capacity_test.cu
Labels: type: feature request, topic: static_map, topic: static_set

#403 Fix a static extent bug in probing scheme
  include/cuco/detail/extent/extent.inl
  include/cuco/detail/probing_scheme_impl.inl
  include/cuco/utility/fast_int.cuh
  tests/static_map/unique_sequence_test.cu
Labels: type: bug, topic: static_map

#402 Migrate shared memory code
  include/cuco/detail/extent/extent.inl
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_map_ref.cuh
  include/cuco/static_set_ref.cuh
  tests/static_map/shared_memory_test.cu
Labels: type: feature request, topic: static_map, Needs Review

#404 Update to CCCL 2.2.0.
  CMakeLists.txt
  cmake/thirdparty/get_cccl.cmake
  cmake/thirdparty/get_thrust.cmake
Labels: type: feature request, topic: build

#406 Fix CTAD
  benchmarks/hash_table/static_set/insert_bench.cu
  examples/static_set/device_ref_example.cu
  examples/static_set/device_subsets_example.cu
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_map.cuh
  include/cuco/static_map_ref.cuh
  include/cuco/static_set.cuh
  include/cuco/static_set_ref.cuh
  include/cuco/utility/cuda_thread_scope.cuh
  tests/static_map/shared_memory_test.cu
  tests/static_map/stream_test.cu
  tests/static_set/insert_and_find_test.cu
  tests/static_set/large_input_test.cu
  tests/static_set/retrieve_all_test.cu
  tests/static_set/unique_sequence_test.cu
Labels: type: improvement

#407 Migrate static map examples
  README.md
  examples/CMakeLists.txt
  examples/static_map/count_by_key_example.cu
  examples/static_map/custom_type_example.cu
  examples/static_map/device_ref_example.cu
  examples/static_map/host_bulk_example.cu
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_set/static_set.inl
Labels: topic: static_map, type: improvement

#394 Fix clang 17 compilation
  include/cuco/detail/pair/pair.inl
  include/cuco/detail/static_map.inl
Labels: type: bug, type: feature request, P1: Should have

#412 Fix key generator utility
  benchmarks/hash_table/dynamic_map/contains_bench.cu
  benchmarks/hash_table/dynamic_map/erase_bench.cu
  benchmarks/hash_table/dynamic_map/find_bench.cu
  benchmarks/hash_table/dynamic_map/insert_bench.cu
  benchmarks/hash_table/static_map/contains_bench.cu
  benchmarks/hash_table/static_map/erase_bench.cu
  benchmarks/hash_table/static_map/find_bench.cu
  benchmarks/hash_table/static_map/insert_bench.cu
  benchmarks/hash_table/static_multimap/count_bench.cu
  benchmarks/hash_table/static_multimap/insert_bench.cu
  benchmarks/hash_table/static_multimap/query_bench.cu
  benchmarks/hash_table/static_multimap/retrieve_bench.cu
  benchmarks/hash_table/static_set/contains_bench.cu
  benchmarks/hash_table/static_set/find_bench.cu
  benchmarks/hash_table/static_set/insert_bench.cu
  benchmarks/hash_table/static_set/rehash_bench.cu
  benchmarks/hash_table/static_set/retrieve_all_bench.cu
  benchmarks/hash_table/static_set/size_bench.cu
  benchmarks/utils.hpp
  include/cuco/utility/key_generator.cuh
Labels: type: bug

#409 Migrate static map benchmarks
  benchmarks/hash_table/static_map/contains_bench.cu
  benchmarks/hash_table/static_map/erase_bench.cu
  benchmarks/hash_table/static_map/find_bench.cu
  benchmarks/hash_table/static_map/insert_bench.cu
  include/cuco/static_map.cuh
Labels: topic: static_map, type: improvement
