Repository NVIDIA/cuCollections, pull requests merged in 2023-10, with the labels that each got.

#375 Enable heterogeneous insert for static_set
  include/cuco/detail/common_kernels.cuh
  include/cuco/detail/equal_wrapper.cuh
  include/cuco/detail/open_addressing_ref_impl.cuh
  include/cuco/detail/static_set/kernels.cuh
  include/cuco/detail/static_set/static_set_ref.inl
  tests/static_set/heterogeneous_lookup_test.cu
Labels: P1: Should have, topic: static_set, type: improvement

#379 Move key equality functor and empty value sentinel to OA impl class
  include/cuco/detail/equal_wrapper.cuh
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_map_ref.cuh
  include/cuco/static_set_ref.cuh
Labels: type: improvement

#365 Add erase to new map and set
  include/cuco/detail/common_kernels.cuh
  include/cuco/detail/equal_wrapper.cuh
  include/cuco/detail/open_addressing/open_addressing_impl.cuh
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_map/functors.cuh
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_set/functors.cuh
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/operator.hpp
  include/cuco/static_map.cuh
  include/cuco/static_map_ref.cuh
  include/cuco/static_set.cuh
  include/cuco/static_set_ref.cuh
  tests/static_map/erase_test.cu
Labels: type: feature request, topic: static_map, Needs Review, topic: static_set

#380 Add rehash functionality
  benchmarks/CMakeLists.txt
  benchmarks/hash_table/static_set/rehash_bench.cu
  include/cuco/detail/common_kernels.cuh
  include/cuco/detail/open_addressing/open_addressing_impl.cuh
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/storage/storage.cuh
  include/cuco/static_map.cuh
  include/cuco/static_set.cuh
  tests/CMakeLists.txt
  tests/static_map/rehash_test.cu
  tests/static_set/rehash_test.cu
Labels: type: feature request, topic: static_map, Needs Review, topic: static_set

#381 Enable heterogeneous insert for static_map
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/pair/pair.inl
  include/cuco/detail/pair/tuple_helpers.inl
  include/cuco/detail/static_map/kernels.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/pair.cuh
  tests/static_map/heterogeneous_lookup_test.cu
  tests/static_set/heterogeneous_lookup_test.cu
Labels: topic: static_map, Needs Review
