Repository NVIDIA/cuCollections, pull requests merged in 2023-11, with the labels that each got.

#388 Move common kernels and functors to the open addressing folder
  include/cuco/detail/open_addressing/functors.cuh
  include/cuco/detail/open_addressing/kernels.cuh
  include/cuco/detail/open_addressing/open_addressing_impl.cuh
Labels: type: improvement

#392 Fix compiler warnings when compiling with clang 17.
  include/cuco/aow_storage.cuh
  include/cuco/detail/open_addressing/open_addressing_impl.cuh
  include/cuco/detail/static_map.inl
  include/cuco/detail/storage/counter_storage.cuh
  include/cuco/static_map.cuh
Labels: type: improvement

#389 Fix bugs in `insert_and_find`
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  tests/static_map/insert_and_find_test.cu
Labels: type: bug, topic: static_map, Needs Review

#396 Fix potential logic issues in CG erase
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  tests/static_map/erase_test.cu
Labels: type: bug, topic: static_map, Needs Review

#393 Migrate tests to excercise the new map
  tests/static_map/custom_type_test.cu
  tests/static_map/duplicate_keys_test.cu
  tests/static_map/heterogeneous_lookup_test.cu
  tests/static_map/insert_and_find_test.cu
  tests/static_map/insert_or_assign_test.cu
  tests/static_map/key_sentinel_test.cu
  tests/static_map/shared_memory_test.cu
  tests/static_map/stream_test.cu
  tests/static_map/unique_sequence_test.cu
Labels: topic: static_map, type: improvement

#395 Rework build script
  .github/workflows/dispatch-build-and-test.yml
  README.md
  ci/build.sh
Labels: topic: build, topic: CI

#387 Fix problems with heterogeneous insert input types
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/detail/traits.hpp
  include/cuco/pair.cuh
  tests/static_map/erase_test.cu
  tests/static_map/rehash_test.cu
Labels: type: bug, topic: static_map, Needs Review, topic: static_set

#398 Hint missing compiler flags
  include/cuco/detail/__config
Labels: topic: build
