Repository NVIDIA/cuCollections, pull requests merged in 2023-04, with the labels that each got.

#287 Remove outdated doc
  include/cuco/dynamic_map.cuh
  include/cuco/static_map.cuh
Labels: type: docs

#278 Add data structure base classes and `cuco::static_set`
  README.md
  benchmarks/CMakeLists.txt
  benchmarks/hash_table/static_set/contains_bench.cu
  benchmarks/hash_table/static_set/insert_bench.cu
  benchmarks/hash_table/static_set/size_bench.cu
  examples/CMakeLists.txt
  examples/static_set/device_ref_example.cu
  examples/static_set/host_bulk_example.cu
  include/cuco/detail/equal_wrapper.cuh
  include/cuco/detail/operator.inl
  include/cuco/detail/prime.hpp
  include/cuco/detail/probing_scheme_base.cuh
  include/cuco/detail/probing_scheme_impl.inl
  include/cuco/detail/static_set/kernels.cuh
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/detail/storage/aow_storage.cuh
  include/cuco/detail/storage/counter_storage.cuh
  include/cuco/detail/storage/kernels.cuh
  include/cuco/detail/storage/storage.cuh
  include/cuco/detail/storage/storage_base.cuh
  include/cuco/detail/tuning.cuh
  include/cuco/detail/utils.cuh
  include/cuco/detail/utils.hpp
  include/cuco/extent.cuh
  include/cuco/operator.hpp
  include/cuco/probing_scheme.cuh
  include/cuco/static_set.cuh
  include/cuco/static_set_ref.cuh
  include/cuco/storage.cuh
  include/cuco/utility/traits.hpp
  tests/CMakeLists.txt
  tests/static_set/capacity_test.cu
  tests/static_set/heterogeneous_lookup_test.cu
  tests/static_set/large_input_test.cu
  tests/static_set/size_test.cu
  tests/static_set/unique_sequence_test.cu
  tests/utility/extent_test.cu
  tests/utility/storage_test.cu
Labels: type: enhancement, helps: rapids, Needs Review

#292 Update the default parameters for `static_set`
  include/cuco/detail/static_set/kernels.cuh
  include/cuco/detail/static_set/static_set.inl
  include/cuco/static_set.cuh
  tests/static_set/unique_sequence_test.cu
Labels: topic: performance, Needs Review, topic: static_set

#291 Add `static_set::retrieve_all`
  benchmarks/CMakeLists.txt
  benchmarks/hash_table/static_set/retrieve_all_bench.cu
  include/cuco/detail/static_set/functors.cuh
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/utils.cuh
  include/cuco/static_set.cuh
  tests/CMakeLists.txt
  tests/static_set/retrieve_all_test.cu
Labels: type: enhancement, helps: rapids, topic: performance, Needs Review, topic: static_set

#293 Add set conditional insert APIs
  include/cuco/detail/static_set/kernels.cuh
  include/cuco/detail/static_set/static_set.inl
  include/cuco/static_set.cuh
  tests/static_set/unique_sequence_test.cu
Labels: type: enhancement, helps: rapids, Needs Review, topic: static_set

#296 Introduce cuco::cuda_stream_ref
  benchmarks/hash_table/static_set/contains_bench.cu
  benchmarks/hash_table/static_set/insert_bench.cu
  benchmarks/hash_table/static_set/retrieve_all_bench.cu
  benchmarks/hash_table/static_set/size_bench.cu
  include/cuco/cuda_stream_ref.hpp
  include/cuco/detail/cuda_stream_ref.inl
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/storage/aow_storage.cuh
  include/cuco/detail/storage/counter_storage.cuh
  include/cuco/static_set.cuh
Labels: type: enhancement, P2: Nice to have, Needs Review

#294 Add set find APIs
  benchmarks/CMakeLists.txt
  benchmarks/hash_table/static_set/find_bench.cu
  include/cuco/detail/probing_scheme_impl.inl
  include/cuco/detail/static_set/kernels.cuh
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/detail/storage/aow_storage.cuh
  include/cuco/operator.hpp
  include/cuco/static_set.cuh
  tests/static_set/unique_sequence_test.cu
Labels: type: enhancement, Needs Review, topic: static_set

#295 Add set conditional contains APIs
  include/cuco/detail/static_set/kernels.cuh
  include/cuco/detail/static_set/static_set.inl
  include/cuco/static_set.cuh
  tests/static_set/unique_sequence_test.cu
Labels: type: enhancement, helps: rapids, Needs Review, topic: static_set
