Repository NVIDIA/cuCollections, pull requests merged in 2023-06, with the labels that each got.

#319 Clean up `cuco::pair`
  benchmarks/hash_table/dynamic_map/contains_bench.cu
  benchmarks/hash_table/dynamic_map/erase_bench.cu
  benchmarks/hash_table/dynamic_map/find_bench.cu
  benchmarks/hash_table/dynamic_map/insert_bench.cu
  benchmarks/hash_table/static_map/contains_bench.cu
  benchmarks/hash_table/static_map/erase_bench.cu
  benchmarks/hash_table/static_map/find_bench.cu
  benchmarks/hash_table/static_map/insert_bench.cu
  benchmarks/hash_table/static_multimap/count_bench.cu
  benchmarks/hash_table/static_multimap/insert_bench.cu
  benchmarks/hash_table/static_multimap/query_bench.cu
  benchmarks/hash_table/static_multimap/retrieve_bench.cu
  examples/static_multimap/host_bulk_example.cu
  include/cuco/detail/dynamic_map.inl
  include/cuco/detail/open_addressing_ref_impl.cuh
  include/cuco/detail/pair.inl
  include/cuco/detail/probe_sequence_impl.cuh
  include/cuco/detail/static_multimap/kernels.cuh
  include/cuco/detail/traits.hpp
  include/cuco/detail/utils.cuh
  include/cuco/dynamic_map.cuh
  include/cuco/pair.cuh
  include/cuco/static_map.cuh
  include/cuco/static_multimap.cuh
  include/cuco/utility/traits.hpp
  tests/dynamic_map/unique_sequence_test.cu
  tests/static_map/custom_type_test.cu
  tests/static_map/duplicate_keys_test.cu
  tests/static_map/heterogeneous_lookup_test.cu
  tests/static_map/key_sentinel_test.cu
  tests/static_map/stream_test.cu
  tests/static_map/unique_sequence_test.cu
  tests/static_multimap/custom_pair_retrieve_test.cu
  tests/static_multimap/custom_type_test.cu
  tests/static_multimap/heterogeneous_lookup_test.cu
  tests/static_multimap/insert_if_test.cu
  tests/static_multimap/multiplicity_test.cu
  tests/static_multimap/non_match_test.cu
  tests/static_multimap/pair_function_test.cu
  tests/utility/storage_test.cu
Labels: type: enhancement, Needs Review

#323 Update docs for the new static_map::retrieve_all
  include/cuco/static_map.cuh
Labels: type: docs, topic: static_map

#324 Add container-specific detail namespace to resolve naming conflicts
  include/cuco/detail/static_map/functors.cuh
  include/cuco/detail/static_map/kernels.cuh
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_set/functors.cuh
  include/cuco/detail/static_set/kernels.cuh
  include/cuco/detail/static_set/static_set.inl
Labels: type: bug, topic: static_map, topic: static_set

#325 Modify `experimental::static_map::retrieve_all` API
  include/cuco/detail/open_addressing_impl.cuh
  include/cuco/detail/static_map/functors.cuh
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_set/static_set.inl
  include/cuco/static_map.cuh
  tests/static_map/unique_sequence_test.cu
Labels: type: enhancement, topic: static_map, Needs Review

#326 Fix xxhash64 implementation
  include/cuco/detail/hash_functions/xxhash.cuh
  tests/utility/hash_test.cu
Labels: type: bug
