Repository NVIDIA/cuCollections, pull requests merged in 2024-11, with the labels that each got.

#633 Add a bitset validatation gtest for `cuco::arrow_filter_policy`
  tests/CMakeLists.txt
  tests/bloom_filter/arrow_policy_test.cu
Labels: helps: rapids, Needs Review, type: improvement, topic: bloom_filter

#632 Add consistent `for_each` APIs for cuco hash tables
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_multimap/static_multimap.inl
  include/cuco/detail/static_multiset/static_multiset.inl
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_map.cuh
  include/cuco/static_multimap.cuh
  include/cuco/static_multiset.cuh
  include/cuco/static_set.cuh
  tests/CMakeLists.txt
  tests/static_set/for_each_test.cu
Labels: type: feature request, Needs Review, topic: static_multimap, topic: static_set, topic: static_multiset

#634 Add rehash for multiset and multimap
  include/cuco/detail/static_multimap/static_multimap.inl
  include/cuco/detail/static_multiset/static_multiset.inl
  include/cuco/static_multimap.cuh
  include/cuco/static_multiset.cuh
Labels: type: feature request, topic: static_multimap, topic: static_multiset

#635 Add `retrieve_all` for multiset and multimap
  include/cuco/detail/static_multimap/static_multimap.inl
  include/cuco/detail/static_multiset/static_multiset.inl
  include/cuco/static_map.cuh
  include/cuco/static_multimap.cuh
  include/cuco/static_multiset.cuh
Labels: type: feature request, topic: static_multimap, topic: static_multiset

#638 Add host `find_if` APIs for all hash tables
  include/cuco/detail/open_addressing/kernels.cuh
  include/cuco/detail/open_addressing/open_addressing_impl.cuh
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_multimap/static_multimap.inl
  include/cuco/detail/static_multiset/static_multiset.inl
  include/cuco/detail/static_set/static_set.inl
  include/cuco/static_map.cuh
  include/cuco/static_multimap.cuh
  include/cuco/static_multiset.cuh
  include/cuco/static_set.cuh
  tests/static_map/unique_sequence_test.cu
  tests/static_multimap/find_test.cu
  tests/static_multiset/find_test.cu
  tests/static_set/unique_sequence_test.cu
Labels: topic: static_map, helps: rapids, Needs Review, topic: static_multimap, topic: static_set, topic: static_multiset

#640 Expose default benchmark axes in the output
  benchmarks/benchmark_utils.hpp
  benchmarks/bloom_filter/add_bench.cu
  benchmarks/bloom_filter/contains_bench.cu
  benchmarks/static_multiset/retrieve_bench.cu
Labels: Needs Review, type: improvement

#641 Enhance unit tests by adopting consistent naming conventions.
  tests/CMakeLists.txt
  tests/bloom_filter/arrow_policy_test.cu
  tests/bloom_filter/unique_sequence_test.cu
  tests/dynamic_bitset/find_next_test.cu
  tests/dynamic_bitset/get_test.cu
  tests/dynamic_bitset/rank_test.cu
  tests/dynamic_bitset/select_test.cu
  tests/dynamic_bitset/size_test.cu
  tests/dynamic_map/erase_test.cu
  tests/dynamic_map/unique_sequence_test.cu
  tests/static_map/capacity_test.cu
  tests/static_map/contains_test.cu
  tests/static_map/custom_type_test.cu
  tests/static_map/find_test.cu
  tests/static_map/heterogeneous_lookup_test.cu
  tests/static_map/insert_or_assign_test.cu
  tests/static_map/key_sentinel_test.cu
  tests/static_map/rehash_test.cu
  tests/static_map/shared_memory_test.cu
  tests/static_multimap/custom_pair_retrieve_test.cu
  tests/static_multimap/custom_type_test.cu
  tests/static_multimap/heterogeneous_lookup_test.cu
  tests/static_multimap/multiplicity_test.cu
  tests/static_multimap/non_match_test.cu
  tests/static_multimap/pair_function_test.cu
  tests/static_set/capacity_test.cu
  tests/static_set/heterogeneous_lookup_test.cu
  tests/static_set/rehash_test.cu
  tests/static_set/retrieve_all_test.cu
  tests/static_set/retrieve_test.cu
  tests/static_set/shared_memory_test.cu
  tests/static_set/size_test.cu
  tests/static_set/unique_sequence_test.cu
  tests/utility/extent_test.cu
  tests/utility/hash_test.cu
  tests/utility/probing_scheme_test.cu
  tests/utility/storage_test.cu
Labels: Needs Review, type: improvement

#637 Migrate set retrieve to use the OA implementation
  benchmarks/CMakeLists.txt
  benchmarks/static_set/retrieve_bench.cu
  include/cuco/detail/open_addressing/kernels.cuh
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_set/kernels.cuh
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/static_set/static_set_ref.inl
  tests/static_multiset/retrieve_test.cu
Labels: helps: rapids, Needs Review, topic: static_set, type: improvement
