Repository NVIDIA/cuCollections, pull requests merged in 2024-10, with the labels that each got.

#573 Add cuco::bloom_filter
  README.md
  benchmarks/CMakeLists.txt
  benchmarks/benchmark_defaults.hpp
  benchmarks/benchmark_utils.hpp
  benchmarks/bloom_filter/add_bench.cu
  benchmarks/bloom_filter/contains_bench.cu
  benchmarks/bloom_filter/defaults.hpp
  benchmarks/bloom_filter/utils.hpp
  examples/CMakeLists.txt
  examples/bloom_filter/host_bulk_example.cu
  include/cuco/bloom_filter.cuh
  include/cuco/bloom_filter_policy.cuh
  include/cuco/bloom_filter_ref.cuh
  include/cuco/detail/bloom_filter/bloom_filter.inl
  include/cuco/detail/bloom_filter/bloom_filter_impl.cuh
  include/cuco/detail/bloom_filter/bloom_filter_policy.inl
  include/cuco/detail/bloom_filter/bloom_filter_policy_impl.cuh
  include/cuco/detail/bloom_filter/bloom_filter_ref.inl
  include/cuco/detail/bloom_filter/kernels.cuh
  include/cuco/detail/utility/cuda.cuh
  tests/CMakeLists.txt
  tests/bloom_filter/unique_sequence_test.cu
Labels: type: feature request, helps: rapids, Needs Review

#607 Restore the deprecated `with_key_eq` to prevent breaking changes in libcudf.
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_set_ref.cuh
Labels: type: feature request, helps: rapids, Needs Review, topic: static_set

#609 CUPTI metrics for bloom_filter benchmarks
  benchmarks/bloom_filter/add_bench.cu
  benchmarks/bloom_filter/contains_bench.cu
  benchmarks/bloom_filter/defaults.hpp
Labels: P2: Nice to have, Needs Review, type: improvement, topic: bloom_filter

#608 Add `compute_hash` overloads for `std::byte*` to maintain backward compatibility
  include/cuco/detail/hash_functions/murmurhash3.cuh
  include/cuco/detail/hash_functions/xxhash.cuh
Labels: type: feature request, helps: rapids, Needs Review

#610 Restore with_hash_function for static_set
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_set_ref.cuh
Labels: type: feature request, helps: rapids, Needs Review, topic: static_set

#617 Revert "Restore with_hash_function for static_set"
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_set_ref.cuh
Labels: topic: static_set, type: improvement

#618 Revert "Restore the deprecated `with_key_eq` to prevent breaking changes in libcudf."
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_set_ref.cuh
Labels: topic: static_set, type: improvement

#620 Add pre-commit hook checking example links
  .pre-commit-config.yaml
  README.md
  ci/pre-commit/example_links.py
Labels: topic: CI, Needs Review

#537 Implement OA `retrieve(_outer)` and its `multiset` API
  README.md
  benchmarks/CMakeLists.txt
  benchmarks/static_multiset/retrieve_bench.cu
  examples/CMakeLists.txt
  examples/static_multiset/host_bulk_example.cu
  include/cuco/detail/extent/extent.inl
  include/cuco/detail/open_addressing/kernels.cuh
  include/cuco/detail/open_addressing/open_addressing_impl.cuh
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/prime.hpp
  include/cuco/detail/static_multiset/static_multiset.inl
  include/cuco/detail/static_multiset/static_multiset_ref.inl
  include/cuco/detail/utility/cuda.hpp
  include/cuco/detail/utility/math.cuh
  include/cuco/detail/utils.hpp
  include/cuco/operator.hpp
  include/cuco/static_multiset.cuh
  tests/CMakeLists.txt
  tests/static_multiset/large_input_test.cu
  tests/static_multiset/retrieve_test.cu
Labels: type: feature request, helps: rapids, P0: Must have, topic: static_multiset

#623 Add retrieve overloads to meet libcudf requirements
  include/cuco/detail/static_multiset/static_multiset.inl
  include/cuco/static_multiset.cuh
  tests/static_multiset/large_input_test.cu
  tests/static_multiset/retrieve_test.cu
Labels: helps: rapids, type: improvement

#624 devcontainer: replace `VAULT_HOST` with `AWS_ROLE_ARN`
  .devcontainer/cuda11.8-gcc11/devcontainer.json
  .devcontainer/cuda12.5-gcc12/devcontainer.json
  .devcontainer/cuda12.6-gcc12/devcontainer.json
  .devcontainer/cuda12.6-gcc13/devcontainer.json
  .devcontainer/devcontainer.json
  ci/matrix.yml
Labels: topic: CI, type: improvement

#628 Use std::pair as the return type in host API
  include/cuco/detail/static_set/static_set.inl
  include/cuco/static_set.cuh
Labels: topic: static_set, type: improvement

#626 Add `find` APIs for the new `static_multimap`
  include/cuco/detail/static_multimap/static_multimap.inl
  include/cuco/detail/static_multimap/static_multimap_ref.inl
  include/cuco/static_multimap.cuh
  include/cuco/static_multiset.cuh
  tests/CMakeLists.txt
  tests/static_multimap/find_test.cu
Labels: type: feature request, Needs Review, topic: static_multimap

#625 Add Arrow bloom filter policy
  README.md
  benchmarks/bloom_filter/add_bench.cu
  benchmarks/bloom_filter/contains_bench.cu
  examples/bloom_filter/host_bulk_example.cu
  include/cuco/bloom_filter.cuh
  include/cuco/bloom_filter_policies.cuh
  include/cuco/bloom_filter_ref.cuh
  include/cuco/detail/bloom_filter/arrow_filter_policy.cuh
  include/cuco/detail/bloom_filter/default_filter_policy.inl
  include/cuco/detail/bloom_filter/default_filter_policy_impl.cuh
  tests/bloom_filter/unique_sequence_test.cu
Labels: type: feature request, helps: rapids, Needs Review

#629 Add count APIs for set and map
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_set/static_set.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_map.cuh
  include/cuco/static_set.cuh
  tests/static_map/unique_sequence_test.cu
  tests/static_set/retrieve_test.cu
Labels: type: feature request, topic: static_map, Needs Review, topic: static_set

#630 Fix uniform random key generation
  include/cuco/utility/key_generator.cuh
Labels: type: bug, P1: Should have, Needs Review
