Repository NVIDIA/cuCollections, pull requests merged in 2024-02, with the labels that each got.

#435 Get rid of empty key sentinel data member in OA class
  include/cuco/detail/open_addressing/open_addressing_impl.cuh
  include/cuco/detail/static_map/static_map.inl
  include/cuco/detail/static_set/static_set.inl
Labels: type: improvement

#436 Fix typos in the `static_set` documentation
  include/cuco/static_set.cuh
Labels: type: docs, topic: static_set, type: improvement

#438 Add shared memory example
  README.md
  examples/CMakeLists.txt
  examples/static_set/shared_memory_example.cu
Labels: type: docs, topic: static_set, type: improvement

#440 Fix ODR violation where end() might be defined by multiple mixin operators
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/static_map_ref.cuh
  include/cuco/static_set_ref.cuh
Labels: type: bug, topic: static_map, P0: Must have, Needs Review, topic: static_set
