Repository NVIDIA/cuCollections, pull requests merged in 2025-08, with the labels that each got.

#746 Update device retrieve signature to pass atomic counter by reference
  include/cuco/detail/open_addressing/kernels.cuh
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_multimap/static_multimap_ref.inl
  include/cuco/detail/static_set/static_set_ref.inl
Labels: type: bug, helps: rapids, Needs Review, topic: static_multiset

#745 Add preallocated memory example
  README.md
  examples/CMakeLists.txt
  examples/static_map/preallocated_memory_example.cu
  include/cuco/bucket_storage.cuh
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/storage/bucket_storage.inl
Labels: topic: static_map, Needs Review

#748 Pass ParentT to CG type and pass CG objects by-value
  README.md
  examples/static_set/device_ref_example.cu
  examples/static_set/device_subsets_example.cu
  include/cuco/bloom_filter_ref.cuh
  include/cuco/detail/bloom_filter/bloom_filter_impl.cuh
  include/cuco/detail/bloom_filter/bloom_filter_ref.inl
  include/cuco/detail/bloom_filter/kernels.cuh
  include/cuco/detail/dynamic_map_kernels.cuh
  include/cuco/detail/hyperloglog/hyperloglog_impl.cuh
  include/cuco/detail/hyperloglog/hyperloglog_ref.inl
  include/cuco/detail/open_addressing/kernels.cuh
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/probe_sequence_impl.cuh
  include/cuco/detail/probing_scheme/probing_scheme_impl.inl
  include/cuco/detail/static_map.inl
  include/cuco/detail/static_map/kernels.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_map_kernels.cuh
  include/cuco/detail/static_multimap/device_view_impl.inl
  include/cuco/detail/static_multimap/kernels.cuh
  include/cuco/detail/static_multimap/static_multimap.inl
  include/cuco/detail/static_multimap/static_multimap_ref.inl
  include/cuco/detail/static_multiset/static_multiset_ref.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/detail/utils.cuh
  include/cuco/hyperloglog_ref.cuh
  include/cuco/operator.hpp
  include/cuco/probing_scheme.cuh
  include/cuco/static_map.cuh
  include/cuco/static_map_ref.cuh
  include/cuco/static_multimap.cuh
  include/cuco/static_multimap_ref.cuh
  include/cuco/static_multiset_ref.cuh
  include/cuco/static_set_ref.cuh
  tests/static_multimap/for_each_test.cu
  tests/static_multiset/for_each_test.cu
  tests/utility/probing_scheme_test.cu
Labels: helps: rapids, topic: performance, Needs Review

#741 Support for 32- and 64-bit cuco::experimental::roaring_bitmap lookups
  CMakeLists.txt
  README.md
  benchmarks/CMakeLists.txt
  benchmarks/roaring_bitmap/contains_bench.cu
  cmake/roaring_testdata.cmake
  examples/CMakeLists.txt
  examples/roaring_bitmap/host_bulk_example.cu
  include/cuco/detail/roaring_bitmap/roaring_bitmap.inl
  include/cuco/detail/roaring_bitmap/roaring_bitmap_impl.cuh
  include/cuco/detail/roaring_bitmap/roaring_bitmap_ref.inl
  include/cuco/detail/roaring_bitmap/roaring_bitmap_storage.cuh
  include/cuco/detail/roaring_bitmap/util.cuh
  include/cuco/roaring_bitmap.cuh
  include/cuco/roaring_bitmap_ref.cuh
  tests/CMakeLists.txt
  tests/roaring_bitmap/contains_test.cu
Labels: helps: rapids, Needs Review, topic: roaring_bitmap

#751 Add device `retrieve_if` for all fixed-size hash tables
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/static_multimap/static_multimap_ref.inl
  include/cuco/detail/static_multiset/static_multiset_ref.inl
  include/cuco/detail/static_set/static_set_ref.inl
  include/cuco/operator.hpp
  tests/CMakeLists.txt
  tests/static_map/retrieve_if_test.cu
  tests/static_multimap/retrieve_if_test.cu
  tests/static_multiset/retrieve_if_test.cu
  tests/static_set/retrieve_if_test.cu
Labels: type: feature request, helps: rapids

#737 Fix primitive type namespace
  include/cuco/detail/dynamic_map.inl
  include/cuco/detail/dynamic_map/dynamic_map.inl
  include/cuco/detail/open_addressing/kernels.cuh
  include/cuco/detail/open_addressing/open_addressing_impl.cuh
  include/cuco/detail/open_addressing/open_addressing_ref_impl.cuh
  include/cuco/detail/static_map/kernels.cuh
  include/cuco/detail/static_map/static_map_ref.inl
  include/cuco/detail/storage/bucket_storage.inl
  include/cuco/detail/utility/cuda.cuh
  include/cuco/detail/utility/cuda.hpp
  include/cuco/detail/utils.cuh
  include/cuco/probe_sequences.cuh
  include/cuco/storage.cuh
  include/cuco/utility/fast_int.cuh
  include/cuco/utility/key_generator.cuh
Labels: type: feature request, Needs Review
