Repository NVIDIA/cuCollections, pull requests merged in 2025-03, with the labels that each got.

#683 Better tests for Bloom filter operations that allow varying CG sizes
  include/cuco/detail/bloom_filter/bloom_filter_impl.cuh
  include/cuco/detail/bloom_filter/kernels.cuh
  tests/CMakeLists.txt
  tests/bloom_filter/unique_sequence_test.cu
  tests/bloom_filter/variable_cg_test.cu
Labels: Needs Review, type: improvement, topic: bloom_filter

#692 Optimize extent calculation for linear probing by eliminating prime number computation
  include/cuco/detail/extent/extent.inl
  include/cuco/detail/prime.hpp
  tests/static_map/capacity_test.cu
  tests/static_map/erase_test.cu
  tests/static_map/find_test.cu
  tests/static_multiset/insert_test.cu
  tests/static_set/capacity_test.cu
  tests/static_set/retrieve_all_test.cu
  tests/static_set/unique_sequence_test.cu
Labels: helps: rapids, type: improvement

#693 Add make_copy and initialize for multiset ref
  include/cuco/detail/static_multiset/static_multiset_ref.inl
  include/cuco/static_multiset_ref.cuh
Labels: type: feature request, topic: static_multiset
